@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira');
@font-face {
    font-family: 'SVN Gotham';
    src: url('../fonts/SVN-Gotham-Regular.otf');
}

body {
    font-family: "Lato", sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0 0 10px;
}

a {
    color: #fff !important;
}

.tab-content .content img {
    max-width: 100%;
}

.img-responsive {
    /* display: block; */
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none !important;
    color: #ffdf16 !important;
    transition: 0.5s;
}

/*********** HEADER BELOW ***********/
#header-below {
    background-color: #9E1B30;
}

#header-below .img-fluid {
    max-width: calc(12vw - 10px) !important;
}

#header-below .header-below-menu {
    margin:auto;
    text-align: center;
    /* overflow: hidden; */
}

.dropdown {
    /* float: left;
    overflow: hidden; */
    position: inherit !important;
}
  
  /* Dropdown button */
.dropdown .drop_btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
    display: none;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    height: 350px;
    z-index: 999;
    opacity: 0.7;
}

.dropdown:hover .dropdown_content {
    display: block;

}

.menu-product-1, .menu-product-2{
    display: block !important;
}

#header-below img {
    padding: 10px 0;
}

#header-below .header-below-button-group ul {
    display: flex;
    text-align: center; 
    margin-bottom: -0.7rem;    
}

#header-below .header-below-button-group ul li {
    margin-right: 5rem;
    border: 1px solid #fff;
    padding: 8px 7px;
    margin: 5px 13px 12px 15px;
    border-radius: 35px;
    /* text-align: center; */
    margin: auto;
    font-size: 14px;
}

#header-below .header-below-button-group ul li input {
    border-radius: 30px;
    border: none;   
}

#header-below .header-below-button-group ul li:last-child {
    border: none;
}

#header-below hr {
    background-color: #fff;
    margin-bottom: 2em;
}


#header-below .header-below-menu ul {
    margin-top: -1rem;
    /* display: flex; */
    
}

#header-below .header-below-menu ul li {
    border: none;
    text-transform: uppercase;
    margin-right: 1.2em;
    display: inline-block;
}


#header-below .header-below-menu ul li a {
    color: #F8C741 !important;
    font-size: 16px;
    /* display: inline-flex; */
    
}

#header-below .header-below-menu ul li a:hover {
    color: yellow !important;
}

#header-below .header-below-button-group input {
    background-image: url('../images/ic-search.png');
    background-repeat: no-repeat;
    background-position: right;
}

#header-below .header-below-menu .icon {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    /* height: 80px; */
    background-color: red;
    margin: auto;
}

.sticky .col-md-10 .header-below-button-group {
    height: 0 !important;
    overflow: hidden !important;
}

.sticky .col-md-10 hr {
    display: none;
}

.sticky .header-below-menu ul {
    margin-top: auto !important;
    padding-top: 20px;
}

.sticky .col-md-2 img {
    height: 58px;
}




/* #header-below .header-below-search i {
    position: absolute;
} */



