
/*********** CAROUSEL ***********/
#menu-products-carousel .carousel-indicators > li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #e3c390;
}

#menu-products-carousel .carousel-indicators .active {
    background-color: red;
}