@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira');

@font-face {
    font-family: 'SVN Gotham';
    src: url('../fonts/SVN-Gotham-Regular.otf'); 
}

body {
    font-family: "Lato", sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0 0 10px;
}

a {
    color: #fff !important;
}

.tab-content .content img{
    max-width: 100%;
}

.img-responsive {
    /* display: block; */
    max-width: 100%;
    height: auto;
}

a:hover {
    text-decoration: none !important;
    color: #ffdf16 !important;
}

/*********** CAROUSEL ***********/
#carousel .carousel-indicators > li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #e3c390;
}

#carousel .carousel-indicators .active {
    background-color: red;
}

