<div ng-controller="goldRatePriceController" style="margin-top: 25px;" ng-init="init()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div id="linechart_material" style="width: 900px; height: 500px"></div> 
            </div>

            <div class="col-md-5">
                <table class="table table-striped" id="goldRateTable">
                    <thead class="bg-danger" style="color: #fff; text-align: center; margin: auto;">
                      <tr>
                        <th scope="col">Loại vàng (types of gold)</th>
                        <th scope="col">Hàm lượng (content)</th>
                        <th scope="col">Mua vào (buy)</th>
                        <th scope="col">Bán ra (sell)</th>
                        <th scope="col">Trạng thái (status)</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="gold in goldInfo">
                      <tr  style="text-align: center;"> 
                        <th scope="row"> {{ gold.types }}</th>
                        <td>{{ gold.content }}</td>
                        <td>{{ goldBuy() }}</td>
                        <td>{{ GoldSell() }}</td>
                        <td><img ng-src="{{ goldStatus(imgRandom) }}" 
                          style="width: 25px;"></td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="col-md-12">
                <div class="radio-group">
                  <input type="radio" name="gold-chart" id="day" ng-click="getDayGoldInfo()" checked/><label for="day">1 ngày</label>
                  <input type="radio" name="gold-chart" id="week" ng-click="getWeekGoldInfo()"/><label for="week">1 tuần</label>
                  <input type="radio" name="gold-chart" id="month"  ng-click="getMonthGoldInfo()"/><label for="month">1 tháng</label>
                  <input type="radio" name="gold-chart" id="quarter" ng-click="getQuarterGoldInfo()"/><label for="quarter">1 quý</label>
                  <input type="radio" name="gold-chart" id="year" ng-click="getYearGoldInfo()"/><label for="year">1 năm</label>
                </div>
                
            </div>
            

        </div>
    </div>
</div>