<section id="contact">
    <div class="container">
        <h1>Liên hệ</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="company-info">

                    <div class="company-title">
                        <h3>CÔNG TY VÀNG BẠC ĐÁ QUÝ BẢO TÍN MẠNH HẢI</h3>
                    </div>

                    <div class="company-address">
                        <hr class="horizontal-line">
                        <h5>TRỤ SỞ:</h5>
                        <p>Trụ sở chính: 16 Trần Duy Hưng, Cầu Giấy, Hà Nội </p>
                        <p>Cơ sở 1: 39 Nguyễn Trãi, Thanh Xuân, Hà Nội </p>
                        <p>Cơ sở 2: 15 Quang Trung, Hà Đông, Hà Nội</p>
                        <p>Cơ sở 3: 16 Trần Duy Hưng, Cầu Giấy, Hà Nội </p>
                        <p>Cơ sở 4: 8 Hoàng Cầu, Đống Đa, Hà Nội </p>
                        <div class="company-phone">
                            <p>Điện thoại: (024) 22339999</p>
                            <p>Chăm sóc khách hàng: (024) 22339999</p>
                        </div>
                    </div>

                </div>

                <p class="note">Mọi thắc mắc và yêu cầu cần hỗ trợ từ BTMH, vui lòng để lại thông tin tại đây.

                    Chúng tôi sẽ xem xét và gửi phản hồi sớm nhất</p>

                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="full-name" name="full-name"
                            placeholder="Họ tên">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="content" name="content" placeholder="content"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="code">Mã bảo vệ<span id="chr-code">TSFGHIP</span></label>
                        <input type="text" class="form-control" id="code" name="code"
                            placeholder="Họ tên">
                    </div>


                    <button type="submit" class="btn btn-danger">Gửi liên hệ</button>
                </form>
            </div>

            <div class="col-md-6">
                <div class="company-picture">
                    <img src="https://baotinmanhhai.vn/web/uploads/banner/BTMH%20-%20Lien%20he.jpg"
                        alt="Company Picture">
                </div>
            </div>
        </div>
    </div>
</section>