<!-------------------- ABOUT US --------------------->
<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="intro">
                    <h1>GIỚI THIỆU BẢO TÍN MẠNH HẢI</h1>
                    <div class="decorating-line">
                        <img src="/Homepage/Body/about-us/images/line-right.png" />
                    </div>

                    <p>Lấy ngành vàng là ngành kinh doanh cốt lỗi, trong gần 28 năm hình thành và phát triển Bảo Tín Mạnh Hải đã và đang là một trong số ít những thương hiệu ngành vàng nổi tiếng của Việt Nam nhận được sự tin tưởng, yêu quý của khách hàng.</p>
                    <p>Bảo Tín Mạnh Hải đồng thời là thành viên của Gia đình Bảo Tín - Gia đình có truyền thống tinh hoa lâu đời nhất tại miền Bắc Việt Nam trong nghề vàng. Bảo Tín Mạnh Hải luôn đặt sự tín nhiệm của khách hàng và văn hoá gia đình gắn kết làm triết lý kinh doanh và giá trị nền tảng cho sự phát triển.</p>
                    <p>Bảo Tín Mạnh Hải luôn tâm niệm “Vàng là mồ hôi nước mắt, tài sản quý trong mỗi gia đình, người kinh doanh trên thứ tài sản ấy phải có một tấm lòng vàng”. Đây chính là kim chi nam cho mọi hoạt động kinh doanh vàng dựa trên chữ TÂM, TÍN và TÀI...</p>

                    <div class="view-more">
                        <a href="#">Giới thiệu chi tiết</a>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="short-video">
                    <iframe width="100%" height="437" src="https://www.youtube.com/embed/rMUI2mj_2hM"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


