
<!-------------------- HIGHLIGHT PRODUCT --------------------->
<section id="highlight-product">
    <div class="container">
        <h1>Sản phẩm nổi bật</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.baotinmanhhai.vn/bai-viet/mua-trang-suc-trung-vang-moi-tuan">
                    <!-- <div class="img-1"></div>                         -->
                    <img src="/common/images/bai-web.jpg" class="img-responsive" />
                </a>
            </div>

            <div class="col-md-6">
                <a
                    href="https://www.baotinmanhhai.vn/bai-viet/rainbow-tieng-goi-mua-he-ruc-ro-trong-bst-moi-cua-bao-tin-manh-hai">
                    <!-- <div class="img-2"></div>  -->
                    <img src="https://baotinmanhhai.vn/web/uploads/oanh/website%20%282%29.jpg"
                        class="img-responsive" />
                </a>
            </div>
        </div>
    </div>
</section>


