<!-------------------- MENU CATEGORY  --------------------->
<section id="menu-category">
    <div class="container">
        <div class="row">
            <div class="menu-category-top">
                <ul>
                    <li>
                        <a href="#">
                            Trang sức vàng</a>
                    </li>

                    <li>
                        <a href="#">
                            Trang sức bạc</a>
                    </li>
                    <li>
                        <a href="#">
                            Trang sức cưới</a>
                    </li>
                    <li>
                        <a href="#">
                            Kim cương</a>
                    </li>
                    <li>
                        <a href="#">
                            Đá quý</a>
                    </li>
                    <li>
                        <a href="#">
                            Ngọc trai</a>
                    </li>
                    <li>
                        <a href="#">
                            Quà tặng</a>
                    </li>
                    <li>
                        <a href="#">
                            Bộ sưu tập</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="menu-category-hr" />

    <div class="menu-category-down">
        <div class="container-top-logo">
            <img style="height: 120px;" class="img-responsive" src="/common/images/logo.png" />
            <h1>Giữ tín nhiệm hơn giữ vàng</h1>
        </div>
        <div class="container-top-menu">
            <h2>Trang sức</h2>
            <div class="container hidden-xs hidden-sm">
                <ul>
                    <li>
                        <a href="#">Nhẫn</a>
                    </li>
                    <li>
                        <a href="#">Bông tai</a>
                    <li>
                        <a href="#">Mặt dây chuyền</a>
                    <li>
                        <a href="#">Dây chuyền</a>
                    </li>
                    <li>
                        <a href="#">Kiềng</a>
                    </li>
                    <li>
                        <a href="#">Lắc</a>
                    </li>
                    <li>
                        <a href="#">Vòng tay</a>
                    </li>
                    <li>
                        <a href="#">Xem tất cả</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>