<!-------------------- NEWS --------------------->
<section id="news">
    <div class="container">
        <h1>Tin tức</h1>
        <div class="row">
            <div class="col-4">
                <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/oanh/web6.1%20%281%29.jpg" />
                <div class="news-item-name">
                    <h3>
                        <a href="/bai-viet/ban-tin-thi-truong-vang-hom-nay-ngay-6-7-2021"> BẢN TIN THỊ TRƯỜNG VÀNG
                            HÔM NAY NGÀY 6/7/2021</a>
                    </h3>
                </div>


                <div class="news-item-description hidden-xs hidden-sm">
                    (BTMH) - Mở cửa phi&ecirc;n s&aacute;ng ng&agrave;y 6/7 gi&aacute; v&agrave;ng trong nước
                    v&agrave; thế giới đồng loạt tăng gi&aacute;, v&agrave;ng thế giới được kỳ vọng chạm ngưỡng 1800
                    USD/Ounce.
                </div>
                <a class="view-more" href="#">Xem
                    chi tiết ></a>

            </div>

            <div class="col-4">
                <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/oanh/bai-web%20%282%29.jpg" />
                <div class="news-item-name">
                    <h3>
                        <a href="#"> MUA TRANG SỨC - TRÚNG VÀNG MỖI
                            TUẦN</a>
                    </h3>
                </div>

                <div class="news-item-description hidden-xs hidden-sm">
                    (BTMH) - Mua trang sức cơ hội tr&uacute;ng 12 chỉ v&agrave;ng, c&ugrave;ng nhiều ưu đ&atilde;i
                    hấp dẫn kh&aacute;c đang chờ đợi kh&aacute;ch h&agrave;ng khi đến giao dịch tại hệ thống cửa
                    h&agrave;ng Bảo T&iacute;n Mạnh Hải.
                </div>
                <a class="view-more" href="#">Xem
                    chi tiết ></a>
            </div>

            <div class="col-4">
                <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/oanh/web5.1%20%281%29.jpg" />
                <div class="news-item-name">
                    <h3>
                        <a href="#">BẢN TIN THỊ TRƯỜNG VÀNG
                            HÔM NAY NGÀY 5/7/2021</a>
                    </h3>
                </div>

                <div class="news-item-description hidden-xs hidden-sm">
                    (BTMH) - Mở cửa s&aacute;ng ng&agrave;y 5/7 gi&aacute; v&agrave;ng thế giới loanh quanh ngưỡng
                    1700 USD/Ounce, v&agrave;ng trong nước ổn định ở ngưỡng 57 triệu đồng/lượng.
                </div>
                <a class="view-more" href="/bai-viet/ban-tin-thi-truong-vang-hom-nay-ngay-5-7-2021">Xem
                    chi tiết ></a>
            </div>

            <div class="button-view-all">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="view-all">Xem nhiều
                            hơn</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


