
/*********** PRODUCT LIST ***********/
#product-list h1 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    color: var(--black);
}

#product-list h2 {
    font-size: 1.3rem;
}



#product-list .slide-container {
    max-width: 1175px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#product-list .product-details {
    text-align:center;
    padding-bottom: 2rem;
    background-color: #fff;
}

#product-list .product-details a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--red) !important;
    padding: 7px 10px;
    transition: all .3s;
}

#product-list #slider img {
    max-height: 250px;
    padding: 10px;
    object-fit: cover;
}

#product-list #slider .thumbnail {
    flex: 0 0 auto;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    overflow: hidden;
    transform: scale(.95);
    transition: all .3s;
}

#product-list #slider .thumbnail:hover {
    transform: scale(1.005);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


#product-list .slick-next:before {
    content: url(https://www.baotinmanhhai.vn/images/next-slide.png);
}

#product-list .slick-prev:before {
    content: url(https://www.baotinmanhhai.vn/images/prev-slide.png);
}


