<!-------------------- WHY SHOULD YOU CHOOSE PRODUCT SECTION --------------------->
<section id="why-should-choose">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="why-should-choose-box">
                    <div class="col-md-3">
                        <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/banner/diamond.png" />
                    </div>
                    <div class="col-md-9">
                        <h3>MIỄN PH&Iacute;</h3>
                        <p>L&Agrave;M SẠCH TRỌN ĐỜI</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-should-choose-box">
                    <div class="col-md-3">
                        <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/banner/clipboard.png" />
                    </div>
                    <div class="col-md-9">
                        <h3>ĐẠT CHUẨN</h3>
                        <p>KIỂM ĐỊNH QUỐC GIA G.I.V&nbsp;&amp; <strong><a href="#">ĐƯỢC
                                    NH&Agrave; NƯỚC CẤP PH&Eacute;P MUA B&Aacute;N V&Agrave;NG MIẾNG</a></strong>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-should-choose-box">
                    <div class="col-md-3">
                        <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/banner/star.png" />
                    </div>
                    <div class="col-md-9">
                        <h3>28 NĂM</h3>
                        <p>H&Igrave;NH TH&Agrave;NH V&Agrave; PH&Aacute;T TRIỂN</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-should-choose-box">
                    <div class="col-md-3">
                        <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/banner/gold-medal.png" />
                    </div>
                    <div class="col-md-9">
                        <h3>TOP 10</h3>
                        <p>THƯƠNG HIỆU, NH&Atilde;N HIỆU NỔI TIẾNG 2018</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>