
<!-------------------- SERVICES --------------------->
<section id="services">
    <div class="container">
        <h1>Dịch vụ của chúng tôi</h1>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="service-box">
                    <img class="img-responsive"
                        src="https://baotinmanhhai.vn/web/uploads/xu-huong-nhan-cuoi-2017-1.jpg" />
                    <h3>TÂN TRANG, SỬA CHỮA TRANG SỨC</h3>
                    <p>Dịch vụ gồm thợ kim hoàn lành nghề và sử dụng công nghệ cao</p>
                    <a href="#">Tìm
                        hiểu thêm</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="service-box">
                    <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/anh2_0.jpg" />
                    <h3>GIÁM ĐỊNH TUỔI VÀNG</h3>
                    <p>Dịch vụ giám định tuổi vàng với máy móc hiện đại nhanh chóng và chính xác</p>
                    <a href="#">Tìm
                        hiểu thêm</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="service-box">
                    <img class="img-responsive"
                        src="https://baotinmanhhai.vn/web/uploads/gia-vang-hom-nay-29-7-2016.1.1.jpg" />
                    <h3>GIA CÔNG CHẾ TÁC</h3>
                    <p>Dịch vụ gia công chế tác với chất lượng sản phẩm tinh xảo và giá cả hợp lý</p>
                    <a href="#">Tìm
                        hiểu thêm</a>
                </div>
            </div>
        </div>
    </div>
</section>

